@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'Brinattan-Regular';
  src: url('/brinattan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
      